
<div class="moves-navigator">
    <div class="moves-container">

        @foreach (var move in BoardViewModel.Moves)
        {
            <MoveView Move="@move"
                      BoardDetails="@BoardViewModel.BoardDetails"
                      IsSelected="@(move.SequenceNumber == BoardViewModel.CurrentMoveNumber)"
                      OnSelect="@(() => BoardViewModel.ToMove(move.SequenceNumber))" />
        }

    </div>

    <div class="navigator-controls-container">
        <button @onclick="@BoardViewModel.ToStart" >|<i class="fa fa-angle-left"></i></button>
        <button @onclick="@BoardViewModel.PreviousMove" ><i class="fa fa-angle-left"></i></button>
        <button @onclick="@BoardViewModel.NextMove" ><i class="fa fa-angle-right"></i></button>
        <button @onclick="@BoardViewModel.ToLastMove" ><i class="fa fa-angle-right">|</i></button>
    </div>
</div>



