@page "/game/{GameId}"

<h3>Game: @GameId</h3>

<div class="game-container">

    <div style="position:relative">
        <div class="boardview-container">
            <BoardView GameId="@GameId" BoardViewModel="@BoardViewModel" />
        </div>

        @if (BoardViewModel.IsGameFinished)
        {
            <div class="game-result-pop-up">
                <GameResultView GameResult="@BoardViewModel.Result.Value" />
            </div>
        }
    </div>

    <div class="switch-perspective-container" >
        <button @onclick="BoardViewModel.SwitchViewPerspective">
            <div class="fa fa-arrow-up"></div>
            <div class="fa fa-arrow-down"></div>
        </button>
    </div>

    <div class="game-controls-container">
        <div class="moves-container">
            <MovesView BoardViewModel="@BoardViewModel" />
        </div>
        <div class="game-controls @(BoardViewModel.IsGameFinished ? "game-controls-hidden" : "")">
            <button>Draw</button>
            <button @onclick="@BoardViewModel.Resign">Resign</button>
        </div>
    </div>
</div>


