@page "/game/{GameId}"

<h3>Game: @GameId</h3>

<div class="game-container">

    <div class="boardview-container">
        <BoardView GameId="@GameId" BoardViewModel="@BoardViewModel" />
    </div>

    <div class="game-controls-container">
        <div style="height:100%">
            <MovesView BoardViewModel="@BoardViewModel" />
        </div>
        <div class="game-controls">
            <button @onclick="@BoardViewModel.Resign" >Resign</button>
            <button>Draw</button>
        </div>
    </div>
</div>


